<?xml version="1.0"?>
<config>
    <modules> 
        <Freento_Aconnector>
            <version>1.0.3</version>
        </Freento_Aconnector>
    </modules>
    <global>
        <blocks>
            <freento_aconnector>
                <class>Freento_Aconnector_Block</class>
            </freento_aconnector>
        </blocks>
        <helpers>
            <freento_aconnector>
                <class>Freento_Aconnector_Helper</class>
            </freento_aconnector>
        </helpers>
        <models>
            <freento_aconnector>
                <class>Freento_Aconnector_Model</class>
                <resourceModel>freento_aconnector_resource</resourceModel>
            </freento_aconnector>
            <freento_aconnector_resource>
                <class>Freento_Aconnector_Model_Resource</class>
                <entities>
                    <keys>
                        <table>freento_aconnector_keys</table>
                    </keys>
                </entities>
            </freento_aconnector_resource>
        </models>
        <resources>
            <freento_aconnector_setup>
                <setup>
                    <module>Freento_Aconnector</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </freento_aconnector_setup>
            <freento_aconnector_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </freento_aconnector_write>
            <freento_aconnector_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </freento_aconnector_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <freento_aconnector>
                <use>standard</use>
                <args>
                    <module>Freento_Aconnector</module>
                    <frontName>aconnector</frontName>
                </args>
            </freento_aconnector>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <aconnector before="Mage_Adminhtml">Freento_Aconnector_Adminhtml</aconnector>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <aconnector>
            <global>
                <log_enabled>0</log_enabled>
            </global>
        </aconnector>
    </default>
</config>
