<?xml version="1.0"?>
<config>
    <modules> 
        <Freento_Aconnector>
            <version>1.0.0</version>
        </Freento_Aconnector>
    </modules>
    <global>
        <blocks>
            <freento_aconnector>
                <class>Freento_Aconnector_Block</class>
            </freento_aconnector>
        </blocks>
        <helpers>
            <freento_aconnector>
                <class>Freento_Aconnector_Helper</class>
            </freento_aconnector>
        </helpers>
        <models>
            <freento_aconnector>
                <class>Freento_Aconnector_Model</class>
            </freento_aconnector>
        </models>
        <resources>
            <freento_aconnector_setup>
                <setup>
                    <module>Freento_Aconnector</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </freento_aconnector_setup>
            <freento_aconnector_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </freento_aconnector_write>
            <freento_aconnector_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </freento_aconnector_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <freento_aconnector>
                <use>standard</use>
                <args>
                    <module>Freento_Aconnector</module>
                    <frontName>aconnector</frontName>
                </args>
            </freento_aconnector>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <freentoaconnectoradmin before="Mage_Adminhtml">Freento_Aconnector_Adminhtml</freentoaconnectoradmin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <freento_aconnector>
                    <file>freento_aconnector.xml</file>
                </freento_aconnector>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <aconnector>
            <global>
                <log_enabled>0</log_enabled>
            </global>
        </aconnector>
    </default>
</config>
